@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Sans+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}

.container{
  background-color:#20b2aa ;
  width: 500px;
  /* height: 500px; */
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container h1{
  color:#2f2f2f ;
  font-size: 40px;
}
.container p{
  color: #fff5ee;
  margin-top: 20px;
}

.content{
  display: flex;
  flex-direction: column;
}
.content input{
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content button{
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 25px;
  border: none;
  border-radius: 20px;
  background-color:lightblue;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 18px;
  cursor: pointer;
}
.content button:hover{
  opacity: 0.8;
}
.content button:active{
  opacity: 0.5;
}


.hide{
  display: none;
}

.QR.hidden{
  display: none;
}